.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    margin-top: 80;
    margin-bottom: 80px;
    background-color: #252526;
}

.content h1 {
    margin-top: 200px; /* Adjust this value as needed */
}

