#header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: flex-end; /* Align items to the start (left side) */
    align-items: center;
    width: 100%;
    background-color: #1e1e1e;
    padding-top: 40px;
    padding-bottom: 40px;
}

#header h1 {
    margin: 0; /* Resets default margin */
    padding: 0; /* Resets default padding */
    font-size: 2em;
    margin-left: 60px; /* Keeps the left space */
    margin-right: auto;
}

#discord-login {
    display: flex;
    padding: 10px;
    border: none;
    align-items: center;
    background-color: #007acc; /* Your button color */
    color: white;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 50px;
    width: 220px;
    justify-content: center;
    cursor: pointer;
    height: 40px;
    position: relative;
    margin-right: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
}
#discord-login:hover {
    background-color: #0056b3;
}

#nav {
    display: flex;
}
#nav .nav-item {
    text-decoration: none; /* Removes underline from links */
    color: #ffffff; /* Sets the text color */
    margin-right: 40px; /* Adds space between items */
    font-size: 1em; /* Sets the font size */
    align-items:center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}