#header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: flex-end; /* Align items to the start (left side) */
    align-items: center;
    width: 100%;
    background-color: #e5e5e5;
    padding-top: 40px;
    padding-bottom: 40px;
}

#header h1 {
    margin: 0; /* Resets default margin */
    padding: 0; /* Resets default padding */
    font-size: 2em;
    margin-left: 60px; /* Keeps the left space */
    margin-right: auto;
}

#discord-login {
    display: flex;
    padding: 20px 40px;
    background-color: #007acc; /* Your button color */
    color: white;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 40px;
}

#nav {
    display: flex;
}
#nav .nav-item {
    text-decoration: none; /* Removes underline from links */
    color: #1e1e1e; /* Sets the text color */
    margin-right: 40px; /* Adds space between items */
    font-size: 1em; /* Sets the font size */
    align-items:center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

#darkModeToggle {
    background-color: #007acc;
    color: white;
    font-size: 1.2em;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: relative; /* Change from absolute to relative */
    margin-right: 60px; /* Match the left margin of the h1 */
}
