#landing {
    min-height: 100vh;
    background: url('images/Gilded_Radiance1.png') no-repeat 110% center;
    background-size: contain;
    background-color: #1e1e1e;
    padding: 0;
}

#landing h1 {
    text-align: left;
    margin-left: 120px;
    font-family: 'Archivo', sans-serif;
    font-size: 160px;
    font-weight: 700;
    margin-top: 250px;
    overflow: hidden; /* Keeps the text hidden until it "types" out */
    white-space: nowrap; /* Ensures the text stays in a single line */
    border-right: 3px solid; /* Simulates the cursor */
    width: 0; /* Start width at 0 */
    animation: typing 1.5s steps(30, end) forwards, 
               blink-caret .75s step-end infinite,
               fadeOutCursor 1s 1.5s forwards; /* Fades out after typing ends */
}

#landing h1.animate {
    animation: typing 1.5s steps(30, end) forwards, 
    blink-caret .75s step-end infinite,
    fadeOutCursor 1s 1.5s forwards; /* Fades out after typing ends */
}

.scroll-button {
    display: inline-block;
    padding: 30px 60px;
    margin-top: 20px; /* Adjust as needed */
    background-color: #007acc; /* Your button color */
    color: white;
    text-align: center;
    text-decoration: none;
    margin-left: 120px;
    transition: background-color 0.3s;
    border-radius: 40px;
}

.scroll-button:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}

@keyframes typing {
    from { width: 0; }
    to { width:43%; }
}
@keyframes fadeOutCursor {
    to { border-color: transparent; }
}
