#renderRequestForm {
    background-color: #fff;
    padding: 30px;
    border-radius: 25px; /* More rounded for a pill-like effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 175px;
}

#renderRequestForm label {
    display: block;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-align: left;
}

#renderRequestForm input[type="text"],
#renderRequestForm input[type="file"],
#renderRequestForm textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 20px; /* Pill-like rounded corners */
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: small;
}

#renderRequestForm input[type="submit"] {
    background-color: #007acc;
    color: white;
    padding: 15px 15px;
    border: none;
    border-radius: 20px; /* Pill-like rounded corners */
    cursor: pointer;
    width: 100%;
    font-size: small;
}

#renderRequestForm input[type="submit"]:hover {
    background-color: #0056b3;
}

.drop-area {
    border: 2px dashed #ddd;
    border-radius: 20px; /* Pill-like rounded corners */
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    margin-bottom: 20px;
}

.drop-area:hover {
    background-color: #e9e9e9;
}
