body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#header {
    position: fixed; /* Fixed position to keep it at the top */
    top: 0; /* Position at the top of the viewport */
    z-index: 100; /* Higher z-index to ensure it's on top */
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 15px;
    width:100%;
}

#header h1 {
    position: relative; /* Add relative positioning to the title container */
    flex-grow: 1;
    text-align:left;
    z-index: 1;
    left:20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 2;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #666;
}

body.dark-mode #header {
    background-color: #252526;
    color: #ffffff;
}
/* Styles for the form container in dark mode */
body.dark-mode #renderRequestForm {
    background-color: #2d2d30 !important; /* Change this color to a lighter shade for dark mode */
    color: #ffffff; /* White text color for the form */
}

body.dark-mode .content {
    background-color: #1e1e1e; /* Background color */
    color: #ffffff;
}
body.dark-mode .drop-area {
    background-color: #252526;
    color: #ffffff;
}

body.dark-mode h1, body.dark-mode p {
    color: #f1f1f1;
}

body.dark-mode label {
    color: #ffffff !important; /* White label color for better visibility in dark mode */
}

body.dark-mode input[type="text"],
body.dark-mode input[type="email"],
body.dark-mode textarea,
.drop-area,
#renderRequestForm input[type="file"] {
    background-color: #252526;
    color: #ffffff;
    border: 1px solid #4e4e4e;
    border-radius: 4px;
    margin-bottom: 30px;
    box-sizing: border-box;
    text-align:left;
}

body.dark-mode ::placeholder {
    color: #bbbbbb;
}

body.dark-mode #darkModeIcon {
    transform: scaleX(-1) rotate(30deg);
}

/* Dark mode toggle button styles */
#darkModeToggle {
    background-color: #007acc;
    color: white;
    font-size: 1.2em;
    padding: 10px;
    margin: 0px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: absolute; /* Add absolute positioning to the button */
    right: 60px; /* Adjust the right distance as needed */
    z-index: 2;
}

#darkModeToggle:hover {
    background-color: #0056b3;
}

/* Additional transition effect for form fields and labels */
body.dark-mode input[type="text"],
body.dark-mode input[type="email"],
body.dark-mode textarea,
body.dark-mode label,
body.dark-mode .drop-area {
    transition: background-color 0.6s, color 0.3s, border-color 0.3s;
}

/* Styles for the form container */
#renderRequestForm {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-top: 20px;
}

/* Styles for labels */
#renderRequestForm label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
    text-align: left;
}

/* Styles for all text input fields */
#renderRequestForm input[type="text"],
#renderRequestForm input[type="file"],
#renderRequestForm textarea {
    width: 100%; /* Set the width to 100% to match other elements */
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: left;
    font-size: small;
}


/* Style for the submit button */
#renderRequestForm input[type="submit"] {
    background-color: #007acc;
    color: white;
    padding: 15px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: small;
}
#renderRequestForm input[type="submit"]:hover {
    background-color: #0056b3;

}

.drop-area {
    border: 2px dashed #ddd;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    background-color: #f8f8f8;
    margin-bottom: 20px;
}

.drop-area:hover {
    background-color: #e9e9e9;
}
body.dark-mode .drop-area:hover {
    background-color: #3a3a3a; /* Example color, adjust as needed */
}

/* Styles for the image preview */
#preview img {
    display: block;
    margin: 20px auto; /* Center the image horizontally */
    max-width: 200px;
    max-height: 200px;
}

@media screen and (max-width: 600px) {
    #renderRequestForm {
        max-width: 90%; /* Reduce the width on smaller screens */
        padding: 10px;
        margin: 10px;
        text-size-adjust:calc(90%);
    }
}