body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column; /* Aligns items vertically */
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    color: #333;
    margin-bottom: 20px; /* Adjust spacing below header */
}

p {
    color: #666;
}
/* Styles for the form container */
#renderRequestForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-top: 20px;
}

/* Styles for labels */
#renderRequestForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

/* Styles for input fields */
#renderRequestForm input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px; /* Adds space after each input field */
}

/* Style for the submit button */
#renderRequestForm input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Makes the button stretch to the full width of the form */
}

#renderRequestForm input[type="submit"]:hover {
    background-color: #0056b3;
}
