body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column; /* Aligns items vertically */
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    color: #333;
    margin-bottom: 20px; /* Adjust spacing below header */
}

p {
    color: #666;
}

body.dark-mode {
    background-color: #121212; /* Dark grey for the body background */
    color: #ffffff; /* White for better readability */
}

body.dark-mode .content, 
body.dark-mode #renderRequestForm { /* Adjust for your form container */
    background-color: #2a2a2a; /* Slightly lighter grey for the content and form container */
    color: #ffffff; /* White text for the form */
}

body.dark-mode h1, body.dark-mode p {
    color: #f1f1f1; /* Soft light grey for headings and paragraphs */
}

body.dark-mode label {
    color: #c9c9c9; /* Soft grey for labels */
}

body.dark-mode input[type="text"],
body.dark-mode input[type="email"],
body.dark-mode textarea {
    background-color: #333333; /* Darker grey for input fields */
    color: #ffffff; /* White text for input fields */
    border: 1px solid #4e4e4e; /* Slightly visible border color */
}

body.dark-mode ::placeholder {
    color: #bbbbbb; /* Light grey for placeholder text */
}

/* Dark mode toggle button styles */
#darkModeToggle {
    background-color: #007bff; /* Bright blue background */
    color: white;
    /* ... other styles ... */
}

#darkModeToggle:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Additional transition effect for form fields and labels */
body.dark-mode input[type="legendName"],
body.dark-mode input[type="legendSkin"],
body.dark-mode input[type="legendPose"],
body.dark-mode textarea,
body.dark-mode label {
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}



/* Styles for the form container */
#renderRequestForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-top: 20px;
}

/* Styles for labels */
#renderRequestForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

/* Styles for all text input fields */
#renderRequestForm input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
}

/* Style for the submit button */
#renderRequestForm input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.drop-area {
    border: 2px dashed #ddd;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    background-color: #f8f8f8;
    margin-bottom: 20px;
}

.drop-area:hover {
    background-color: #e9e9e9;
}


#renderRequestForm input[type="file"] {
    display: block;
    margin: 0 auto 20px auto; /* Centers the file input */
    width: calc(100% - 20px); /* Adjusts the width to fit the form */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

#renderRequestForm input[type="submit"]:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 480px) {
    #renderRequestForm {
        max-width: 95%;
        margin: 20px auto; /* Center the form with automatic horizontal margins */
    }
}
