body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column; /* Aligns items vertically */
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    color: #333;
    margin-bottom: 20px; /* Adjust spacing below header */
}

p {
    color: #666;
}

body.dark-mode {
    background-color: #121212; /* Dark background for the body */
    color: #ffffff; /* Light text color for better readability */
}

body.dark-mode .content {
    background-color: #1e1e1e; /* Dark background for the content area */
    color: #ffffff; /* Light text color for content area */
}

body.dark-mode h1, body.dark-mode p {
    color: #f1f1f1; /* Lighter color for headings and paragraphs */
}

/* If you have specific classes or IDs for your form container, add dark mode styles for them as well */
body.dark-mode #yourFormContainerId {
    background-color: #242424; /* Dark background for the form container */
    color: #ffffff; /* Light text color for the form */
}

/* Additional styles for inputs and labels in dark mode */
body.dark-mode input[type="text"],
body.dark-mode input[type="email"],
body.dark-mode textarea,
body.dark-mode label {
    background-color: #333333; /* Darker background for input fields */
    color: #ffffff; /* Light text color for input fields */
    border-color: #444444; /* Darker border for input fields */
}


#darkModeToggle {
    font-size: 1.2em; /* Adjust icon size */
    padding: 10px;
    margin: 10px; /* Adds space around the button */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%; /* Makes it circular */
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; /* Fixed width */
    height: 40px; /* Fixed height */
}

#darkModeToggle:hover {
    background-color: #0056b3;
}


/* Styles for the form container */
#renderRequestForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-top: 20px;
}

/* Styles for labels */
#renderRequestForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

/* Styles for all text input fields */
#renderRequestForm input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
}

/* Style for the submit button */
#renderRequestForm input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.drop-area {
    border: 2px dashed #ddd;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    background-color: #f8f8f8;
    margin-bottom: 20px;
}

.drop-area:hover {
    background-color: #e9e9e9;
}


#renderRequestForm input[type="file"] {
    display: block;
    margin: 0 auto 20px auto; /* Centers the file input */
    width: calc(100% - 20px); /* Adjusts the width to fit the form */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

#renderRequestForm input[type="submit"]:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 480px) {
    #renderRequestForm {
        max-width: 95%;
        margin: 20px auto; /* Center the form with automatic horizontal margins */
    }
}
