/* CSS to make the header bar invisible in light mode */
#header {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

/* CSS to make the header bar invisible in dark mode */
body.dark-mode #header {
    background-color: #101010 !important;
    border: none !important;
    box-shadow: none !important;
}

/* Default styles (light mode) */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #333;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #101010;
    color: #ffffff;
}

/* Styles for the form container in dark mode */
body.dark-mode #renderRequestForm {
    background-color: #212121 !important;
    color: #ffffff !important;
}

/* Additional elements and styles for dark mode */
body.dark-mode .content,
body.dark-mode .drop-area {
    background-color: #2d2d2d;
    color: #ffffff;
}

body.dark-mode h1,
body.dark-mode p {
    color: #f1f1f1;
}

body.dark-mode label {
    color: #ffffff !important;
}

body.dark-mode input[type="text"],
body.dark-mode input[type="email"],
body.dark-mode textarea,
.drop-area,
#renderRequestForm input[type="file"] {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #4e4e4e;
    border-radius: 4px;
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
}

body.dark-mode ::placeholder {
    color: #bbbbbb;
}

body.dark-mode #darkModeIcon {
    transform: scaleX(-1) rotate(30deg);
}

/* Dark mode toggle button styles */
#darkModeToggle {
    background-color: #007bff;
    color: white;
    font-size: 1.2em;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

#darkModeToggle:hover {
    background-color: #0056b3;
}

/* Additional transition effect for form fields and labels */
body.dark-mode input[type="text"],
body.dark-mode input[type="email"],
body.dark-mode textarea,
body.dark-mode label,
body.dark-mode .drop-area {
    transition: background-color 0.6s, color 0.3s, border-color 0.3s;
}

/* Styles for the form container */
#renderRequestForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-top: 20px;
}

/* Styles for labels */
#renderRequestForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

/* Styles for all text input fields */
#renderRequestForm input[type="text"],
#renderRequestForm input[type="file"],
#renderRequestForm textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
}

/* Style for the submit button */
#renderRequestForm input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 15px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

/* Styles for the image preview */
#preview img {
    display: block;
    margin: 20px auto;
    max-width: 200px;
    max-height: 200px;
}

@media screen and (max-width: 480px) {
    #renderRequestForm {
        max-width: 95%;
        margin: 20px auto;
    }
}